version: '3.1'
services:
   postgres:
      container_name: postgrestest
      image: postgres
      environment:
        POSTGRES_PASSWORD: postgres
        POSTGRES_USER: postgres
        POSTGRES_DB: postgres
      ports:
        - 5432:5432
      volumes:
        - ./postgres-data:/var/lib/postgresql/data